<!-- video link:https://www.youtube.com/watch?v=5yUP7hhgups&list=PL-zhdk-KbnqCaQEYaJGt9WBXo0i6vv3Zr&index=3 -->

<div class="container">
  <div class="main">
    <div class="row">
      <div class="col-md-4 p-0 m-0">
        <div class="square right" id="square1" (click)="onClick('img1')">
          <img src="assets/circle.png" alt="img" id="img1" />
        </div>
      </div>
      <div class="col-md-4 p-0 m-0">
        <div class="square right" id="square2" (click)="onClick('img2')">
          <img src="" alt="img" id="img2" />
        </div>
      </div>
      <div class="col-md-4 p-0 m-0">
        <div class="square" id="square3" (click)="onClick('img3')">
          <img src="" alt="img" id="img3" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 p-0 m-0">
        <div class="square right top" id="square4" (click)="onClick('img4')">
          <img src="" alt="img" id="img4" />
        </div>
      </div>
      <div class="col-md-4 p-0 m-0">
        <div class="square right top" id="square5" (click)="onClick('img5')">
          <img src="" alt="img" id="img5" />
        </div>
      </div>
      <div class="col-md-4 p-0 m-0">
        <div class="square top" id="square6" (click)="onClick('img6')">
          <img src="" alt="img" id="img6" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 p-0 m-0">
        <div class="square right top" id="square7" (click)="onClick('img7')">
          <img src="" alt="img" id="img7" />
        </div>
      </div>
      <div class="col-md-4 p-0 m-0">
        <div class="square right top" id="square8" (click)="onClick('img8')">
          <img src="" alt="img" id="img8" />
        </div>
      </div>
      <div class="col-md-4 p-0 m-0">
        <div class="square top" id="square9" (click)="onClick('img9')">
          <img src="" alt="img" id="img9" />
        </div>
      </div>
    </div>
  </div>
</div>
